<!DOCTYPE html>
<html lang="en">
         <head>
         <title>Calculate Page</title>>
         <script>
          console.log("it works");
      function fun_calculate(){ 


                      //para1 declaration

                      var para1_1 = document.getElementById('para1_1');
                      var para1_2 = document.getElementById('para1_2');
                      var score1=0;

                      //para2 declaration

                      var para2_1 = document.getElementById('para2_1');
                      var para2_2 = document.getElementById('para2_2');
                      var para2_3 = document.getElementById('para2_3');
                      var para2_4 = document.getElementById('para2_4');
                      var score2=0;

                      //para3 declaration

                      var para3_1 = document.getElementById('para3_1');
                      var para3_2 = document.getElementById('para3_2');
                      var para3_3 = document.getElementById('para3_3');
                      var score3=0;

                      //para4 declaration

                      var para4_1 = document.getElementById('para4_1');
                      var para4_2 = document.getElementById('para4_2');
                      var para4_3 = document.getElementById('para4_3');
                      var para4_4 = document.getElementById('para4_4');
                      var score4=0;

                      //para5 declaration

                      var para5_1 = document.getElementById('para5_1');
                      var para5_2 = document.getElementById('para5_2');
                      var para5_3 = document.getElementById('para5_3');
                      var para5_4 = document.getElementById('para5_4');
                      var score5=0;

                      //para6 declaration

                      var para6_1 = document.getElementById('para6_1');
                      var para6_2 = document.getElementById('para6_2');
                      var para6_3 = document.getElementById('para6_3');
                      var para6_4 = document.getElementById('para6_4');
                      var score6=0;

                      //para7 declaration

                      var para7_1 = document.getElementById('para7_1');
                      var para7_2 = document.getElementById('para7_2');
                      var para7_3 = document.getElementById('para7_3');
                      var para7_4 = document.getElementById('para7_4');
                      var score7=0;

                      //para8 declaration
              
                      var para8_1 = document.getElementById('para8_1');
                      var para8_2 = document.getElementById('para8_2');
                      var score8=0;

                      //para9 declaration

                      var para9_1 = document.getElementById('para9_1');
                      var para9_2 = document.getElementById('para9_2');
                      var para9_3 = document.getElementById('para9_3');
                      var para9_4 = document.getElementById('para9_4');
                      var score9=0;

                      //para10 declaration

                      var para10_1 = document.getElementById('para10_1');
                      var para10_2 = document.getElementById('para10_2');
                      var para10_3 = document.getElementById('para10_3');
                      var score10=0;

                      //para11 declaration
                      
                      var para11_1 = document.getElementById('para11_1');
                      var para11_2 = document.getElementById('para11_2');
                      var para11_3 = document.getElementById('para11_3');
                      var score11=0;

                      //para12 declaration

                      var para12_1 = document.getElementById('para12_1');
                      var para12_2 = document.getElementById('para12_2');
                      var score12=0;

                      //para13 declaration

                      var para13_1 = document.getElementById('para13_1');
                      var para13_2 = document.getElementById('para13_2');
                      var para13_3 = document.getElementById('para13_3');
                      var score13=0;

                      //final score declaration

                      var scoreFinal=0;

                        //para1 definition
                  
                          if(para1_1.checked == true){
                            score1=8;
                           }
                          else if(para1_2.checked == true){
                            score1=5;
                          }
                          else{
                            alert("select an option in 1");
                          }

                            
                        //para2 definition

                          if(para2_1.checked==true){
                            score2=5;
                           
                          }
                          else if(para2_2.checked==true){
                            score2=4;
                           
                          }
                          else if(para2_3.checked==true){
                            score2=3;
                            
                          }
                          else if(para2_4.checked==true){
                            score2=0;
                           
                          }
                          else{
                            alert("select an option in 2");
                          } 

                        //para3 definition  
                             
                          if(para3_1.checked==true){
                            score3=12;
                            
                          }
                          else if(para3_2.checked==true){
                            score3=10;
                            
                          }
                          else if(para3_3.checked==true){
                            score3=8;
                          
                          }
                          else{
                            alert("select an option in 3");
                          }

                        //para4 definition
                                
                          if(para4_1.checked==true){
                            score4=10;
                            
                          }
                          else if(para4_2.checked==true){
                            score4=9;
                            
                          }
                          else if(para4_3.checked==true){
                            score4=7;
                           
                          }
                          else if(para4_4.checked==true){
                            score4=5;
                            
                          }
                          else{
                            alert("select an option in 4");
                          }
                        
                        //para5 definition
           
                          if(para5_1.checked==true){
                            score5=5;
                          }
                          else if(para5_2.checked==true){
                            score5=4;
                          }
                          else if(para5_3.checked==true){
                            score5=3;
                          }
                          else if(para5_4.checked==true){
                            score5=0;
                          }
                          else{
                            alert("select an option in 5");
                          } 

                        //para6 definition

                          if(para6_1.checked==true){
                            score6=7;
                          }
                          else if(para6_2.checked==true){
                            score6=5;
                          }
                          else if(para6_3.checked==true){
                            score6=4;
                          }
                          else if(para6_4.checked==true){
                            score6=3;
                          }
                          else{
                            alert("select an option in 6");
                          }

                        //para7 definition

                          if(para7_1.checked==true){
                            score7=8;
                          }
                          else if(para7_2.checked==true){
                            score7=6;
                          }
                          else if(para7_3.checked==true){
                            score7=4;
                          }
                          else if(para7_4.checked==true){
                            score7=3;
                          }
                          else{
                            alert("select an option in 7");
                          }   

                        //para8 definition

                          if(para8_1.checked==true){
                             score8=5;
                          }
                          else if(para8_2.checked==true){
                             score8=0;
                          }
                          else{
                              alert("select an option in 8");
                          } 

                        //para9 definition
                       
                          if(para9_1.checked==true){
                            score9=10;
                          }
                          else if(para9_2.checked==true){
                            score9=8;
                          }
                          else if(para9_3.checked==true){
                            score9=5;
                          }
                          else if(para9_4.checked==true){
                            score9=0;
                          }
                          else{
                              alert("select an option in 9");
                            } 

                        //para10 definition

                          if(para10_1.checked==true){
                            score10=15;
                          }
                          else if(para10_2.checked==true){
                            score10=10;
                          }
                          else if(para10_3.checked==true){
                            score10=5;
                          }
                          else{
                              alert("select an option in 10");
                          }   
                        //para 11 definition
           
                          if(para11_1.checked==true){
                            score11=5;
                          }
                          else if(para11_2.checked==true){
                            score11=3;
                          }
                          else if(para11_3.checked==true){
                            score11=0;
                          }
                          else{
                            alert("select an option in 11");
                          }   
                  
                        //para12 definition

                          if(para12_1.checked==true){
                            score12=5;
                          }
                          else if(para12_2.checked==true){
                            score12=3;
                          }
                          else{
                              alert("select an option in 12");
                          }

                        //para13 definition

                          if(para13_1.checked==true){
                            score13=5;
                          }
                          else if(para13_2.checked==true){
                            score13=4;
                          }
                          else if(para13_3.checked==true){
                            score13=0;
                          }
                          else{
                            alert("select an option in 13");
                          }  
                
                        //final score definition
        
    return score1+score2+score3+score4+score5+score6+score7+score8+score9+score10+score11+score12+score13;
  };

  
  function fun_save(){ 


//para1 declaration

var para1_1 = document.getElementById('para1_1');
var para1_2 = document.getElementById('para1_2');
var score1=0;

//para2 declaration

var para2_1 = document.getElementById('para2_1');
var para2_2 = document.getElementById('para2_2');
var para2_3 = document.getElementById('para2_3');
var para2_4 = document.getElementById('para2_4');
var score2=0;

//para3 declaration

var para3_1 = document.getElementById('para3_1');
var para3_2 = document.getElementById('para3_2');
var para3_3 = document.getElementById('para3_3');
var score3=0;

//para4 declaration

var para4_1 = document.getElementById('para4_1');
var para4_2 = document.getElementById('para4_2');
var para4_3 = document.getElementById('para4_3');
var para4_4 = document.getElementById('para4_4');
var score4=0;

//para5 declaration

var para5_1 = document.getElementById('para5_1');
var para5_2 = document.getElementById('para5_2');
var para5_3 = document.getElementById('para5_3');
var para5_4 = document.getElementById('para5_4');
var score5=0;

//para6 declaration

var para6_1 = document.getElementById('para6_1');
var para6_2 = document.getElementById('para6_2');
var para6_3 = document.getElementById('para6_3');
var para6_4 = document.getElementById('para6_4');
var score6=0;

//para7 declaration

var para7_1 = document.getElementById('para7_1');
var para7_2 = document.getElementById('para7_2');
var para7_3 = document.getElementById('para7_3');
var para7_4 = document.getElementById('para7_4');
var score7=0;

//para8 declaration

var para8_1 = document.getElementById('para8_1');
var para8_2 = document.getElementById('para8_2');
var score8=0;

//para9 declaration

var para9_1 = document.getElementById('para9_1');
var para9_2 = document.getElementById('para9_2');
var para9_3 = document.getElementById('para9_3');
var para9_4 = document.getElementById('para9_4');
var score9=0;

//para10 declaration

var para10_1 = document.getElementById('para10_1');
var para10_2 = document.getElementById('para10_2');
var para10_3 = document.getElementById('para10_3');
var score10=0;

//para11 declaration

var para11_1 = document.getElementById('para11_1');
var para11_2 = document.getElementById('para11_2');
var para11_3 = document.getElementById('para11_3');
var score11=0;

//para12 declaration

var para12_1 = document.getElementById('para12_1');
var para12_2 = document.getElementById('para12_2');
var score12=0;

//para13 declaration

var para13_1 = document.getElementById('para13_1');
var para13_2 = document.getElementById('para13_2');
var para13_3 = document.getElementById('para13_3');
var score13=0;
alert("saved Successfully");


const xlsx = require('xlsx');
  var wb= xlsx.readFile("credit_score_original.xlsx",{
  cellStyles: true
});


//  worksheet Declaration
var ws= wb.Sheets["Sheet1"];

// Cells Declaration

var cell1= ws['C10'].v;
var cell2= ws['C12'].v;
var cell3= ws['C14'].v;
var cell4= ws['C16'].v;
var cell5= ws['C18'].v;
var cell6= ws['C20'].v;
var cell7= ws['C22'].v;
var cell8= ws['C24'].v;
var cell9= ws['C26'].v;
var cell10= ws['C28'].v;
var cell11= ws['C30'].v;
var cell12= ws['C32'].v;
var cell13= ws['C34'].v;
var cell14= ws['C36'].v;



                          //para1 definition

                          if(para1_1.checked == true){
                            score1=8;
                           }
                          else if(para1_2.checked == true){
                            score1=5;
                          }
                          else{
                            alert("select an option in 1");
                          }


    //para2 definition

    if(para2_1.checked==true){
      
      ws['C12'].v = "Less Than 40 Years";
    }
    else if(para2_2.checked==true){
     
      ws['C12'].v = "40 To 50 Years";
    }
    else if(para2_3.checked==true){
     
      ws['C12'].v = "50 To 60 Years";
    }
    else if(para2_4.checked==true){
     
      ws['C12'].v = "60 Or More Years";
    }
    else{
      alert("select an option in 2");
    } 

  //para3 definition  
       
    if(para3_1.checked==true){
      
      ws['C14'].v = "Govt/ Semi Govt Service";
    }
    else if(para3_2.checked==true){
     
      ws['C14'].v = "Self Employed Professionals";
    }
    else if(para3_3.checked==true){
      
      ws['C14'].v = "Self Employed Persons/ Private Firm Employees";
    }
    else{
      alert("select an option in 3");
    }

  //para4 definition
          
    if(para4_1.checked==true){
      
      ws['C16'].v = "More Than 20000 Rs";
    }
    else if(para4_2.checked==true){
      
      ws['C16'].v = "15001 - 20000 Rs";
    }
    else if(para4_3.checked==true){
      
     ws['C16'].v = "8001 - 15000 Rs";
    }
    else if(para4_4.checked==true){
      
      ws['C16'].v = "8000 Rs";
    }
    else{
      alert("select an option in 4");
    }
  
  //para5 definition

    if(para5_1.checked==true){
      ws['C18'].v = "Govt/ Semi Govt Service";
    }
    else if(para5_2.checked==true){
      ws['C18'].v = "Self Employed Professionals";
    }
    else if(para5_3.checked==true){
      ws['C18'].v = "Self Employed Persons/ Private Firm Employees";
    }
    else if(para5_4.checked==true){
      ws['C18'].v = "Unemployed/ Housewife";
    }
    else{
      alert("select an option in 5");
    } 

  //para6 definition

    if(para6_1.checked==true){
      ws['C20'].v = "More Than 5 Years";
    }
    else if(para6_2.checked==true){
      ws['C16'].v = "3 Years - 5 Years";
    }
    else if(para6_3.checked==true){
      ws['C20'].v = "1 Years - 3 Years";
    }
    else if(para6_4.checked==true){
      ws['C20'].v = "Less Than 1 year";
    }
    else{
      alert("select an option in 6");
    }

  //para7 definition

    if(para7_1.checked==true){
      ws['C22'].v = "Average Balance  Rs. 20000 & Above";
    }
    else if(para7_2.checked==true){
      ws['C22'].v = "Average Balance Above Rs. 10000/- Upto Rs 20000";
    }
    else if(para7_3.checked==true){
      ws['C22'].v = " Average Balance Above Rs. 5000/- Upto Rs 10000";
    }
    else if(para7_4.checked==true){
      ws['C22'].v = "Average Balance Upto Rs. 5000/-";
    }
    else{
      alert("select an option in 7");
    }   

  //para8 definition

    if(para8_1.checked==true){
      ws['C24'].v = "Repayment In Existing / Earlier Loans Prompt and Upto date";
    }
    else if(para8_2.checked==true){
      ws['C24'].v = "Over Dues In Existing Loan Accounts ";
    }
    else{
        alert("select an option in 8");
    } 

  //para9 definition
 
    if(para9_1.checked==true){
      ws['C26'].v = "750 & Above";
    }
    else if(para9_2.checked==true){
      ws['C26'].v = "700 To 750";
    }
    else if(para9_3.checked==true){
      ws['C26'].v = " 600 to 700";
    }
    else if(para9_4.checked==true){
      ws['C26'].v = "Below 600";
    }
    else{
        alert("select an option in 9");
      } 

  //para10 definition

    if(para10_1.checked==true){
      ws['C28'].v = "Good";
    }
    else if(para10_2.checked==true){
      ws['C28'].v = "Average";
    }
    else if(para10_3.checked==true){
      ws['C28'].v = "Poor";
    }
    else{
        alert("select an option in 10");
    }   
  //para 11 definition

    if(para11_1.checked==true){
      ws['C30'].v = "Borrower Cooperative And Confirms All Info As Per Application";
    }
    else if(para11_2.checked==true){
      ws['C30'].v = "Borrower Cooperative But Not Confirming";
    }
    else if(para11_3.checked==true){
      ws['C30'].v = "Borrower Non Cooperative";
    }
    else{
      alert("select an option in 11");
    }   

  //para12 definition

    if(para12_1.checked==true){
      ws['C32'].v = "Upto 75%";
    }
    else if(para12_2.checked==true){
      ws['C32'].v = "Above 75%";
    }
    else{
        alert("select an option in 12");
    }

  //para13 definition

    if(para13_1.checked==true){
      ws['C34'].v = "Above 50%";
    }
    else if(para13_2.checked==true){
      ws['C34'].v = "40%";
    }
    else if(para13_3.checked==true){
      ws['C34'].v = "Below 25%";
    }
    else{
      alert("select an option in 13");
    }  

        // score
        ws['C36'].v = document.getElementById('cal_display').innerHTML;


          // write to new file
       xlsx.writeFile(wb,'creditscore.xlsx',{
       cellStyles: true
        });
    

return alert("Successfully Saved");
};                         

      
 </script>


         </head>

         <body>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body" >
        <h1 class="text-center mb-3">
                <i class="far fa-user"> <h1>Adding New Customer...</h1></i>
                <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>       
        </h1>
        <h4 class="text-center mb-3"><u>Please enter the name & Acc No...</u></h4>
        <form action="/customer/add_customer" method="POST">
          <div class="form-group">
            <label for="name">Name :</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="AccNo">Acount Number :</label>
            <input
              type="name"
              id="AccNo"
              name="AccNo"
              class="form-control"
              placeholder="Enter Account Number"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>

        </form>

        <div class="card card-body" >
          <h1 class="text-center mb-3">
                  <i > <h1>Calculate the Credit Score...</h1></i>
                  <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></h1>

          <h4 class="text-center mb-3"><u>Select the Customer Details</u></h4>

          <form class="form" >
                       
                  <div class="form-group" >
                    <label class="col-form-label" for="inputDefault">1. RESIDENCE</label>                              
                  <div class="form-group">
                    <label class="d-block">
                        <input type="radio" class="mr-1" name="para1" id="para1_1" value="Own/ Self-Accquired"  > Own/ Self-Accquired
                    </label>
                    <label class="d-block">
                        <input type="radio" class="mr-1" name="para1"id="para1_2" value="Leased/ Rented/ Others" > Leased/ Rented/ Others
                    </label>
                  </div>
                </div>
                
                
                <div class="form-group">
                  <label class="col-form-label" for="inputDefault">2. AGE OF BORROWER </label>                              
                <div class="form-group" >
                  <label class="d-block">
                      <input type="radio" class="mr-1" name="para2"id="para2_1" value="Less Than 40 Years"  > Less Than 40 Years                        </label>
                  <label class="d-block">
                      <input type="radio" class="mr-1" name="para2"id="para2_2" value="40 To 50 Years" > 40 To 50 Years
                  </label>
                  <label class="d-block">
                    <input type="radio" class="mr-1" name="para2"id="para2_3" value="50 To 60 Years" > 50 To 60 Years
                </label>
                <label class="d-block">
                    <input type="radio" class="mr-1" name="para2"id="para2_4" value="60 Or More Years" > 60 Or More Years
                </label>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-form-label" for="inputDefault">3. EMPLOYMENT/ PROFESSION</label>                              
              <div class="form-group">
                <label class="d-block">
                    <input type="radio" class="mr-1" name="para3"id="para3_1" value="Govt/ Semi Govt Service"> Govt/ Semi Govt Service
                </label>
                <label class="d-block">
                    <input type="radio" class="mr-1" name="para3"id="para3_2" value="Self Employed Professionals"> Self Employed Professionals
                </label>
                <label class="d-block">
                  <input type="radio" class="mr-1" name="para3"id="para3_3" value="Self Employed Persons/ Private Firm Employees"> Self Employed Persons/ Private Firm Employees
              </label>
              </div>
            </div> 
            
            <div class="form-group">
              <label class="col-form-label" for="inputDefault">4. GROSS MONTHLY INCOME FROM SALARY/ BUSINESS</label>                              
            <div class="form-group">
              <label class="d-block">
                  <input type="radio" class="mr-1" name="para4" id="para4_1" value="More Than 20000 Rs"> More Than 20000 Rs
              </label>
              <label class="d-block">
                  <input type="radio" class="mr-1" name="para4"id="para4_2" value="15001 - 20000 Rs"> 15001 - 20000 Rs
              </label>
              <label class="d-block">
                <input type="radio" class="mr-1" name="para4"id="para4_3" value="8001 - 15000 Rs"> 8001 - 15000 Rs
            </label>
            <label class="d-block">
                <input type="radio" class="mr-1" name="para4"id="para4_4" value="8000 Rs"> 8000 Rs
            </label>
            </div>
          </div> 

          <div class="form-group">
            <label class="col-form-label" for="inputDefault">5. OCCUPATION OF THE SPOUCE</label>                              
          <div class="form-group">
            <label class="d-block">
                <input type="radio" class="mr-1" name="para5"id="para5_1" value="Govt/ Semi Govt Service"> Govt/ Semi Govt Service
            </label>
            <label class="d-block">
                <input type="radio" class="mr-1" name="para5"id="para5_2" value="Self Employed Professionals"> Self Employed Professionals
            </label>
            <label class="d-block">
              <input type="radio" class="mr-1" name="para5"id="para5_3" value="Self Employed Persons/ Private Firm Employees"> Self Employed Persons/ Private Firm Employees
          </label>
          <label class="d-block">
              <input type="radio" class="mr-1" name="para5"id="para5_4" value="Unemployed/ Housewife"> Unemployed/ Housewife
          </label>
          </div>
        </div>

        <div class="form-group">
          <label class="col-form-label" for="inputDefault">6. HOW LONG WITH THE PRESENT EMPLOYER/ IN THE BUSINESS</label>                              
        <div class="form-group">
          <label class="d-block">
              <input type="radio" class="mr-1" name="para6"id="para6_1" value="More Than 5 Years"> More Than 5 Years
          </label>
          <label class="d-block">
              <input type="radio" class="mr-1" name="para6"id="para6_2" value="3 Years - 5 Years"> 3 Years - 5 Years
          </label>
          <label class="d-block">
            <input type="radio" class="mr-1" name="para6"id="para6_3" value="1 Years - 3 Years">  1 Years - 3 Years
        </label>
        <label class="d-block">
            <input type="radio" class="mr-1" name="para6" id="para6_4" value="Less Than 1 year">  Less Than 1 year
        </label>
        </div>
      </div>

      <div class="form-group">
        <label class="col-form-label" for="inputDefault">7. AVERAGE BALANCE MAINTAINED WITH THE PRESENT BANKER(SB/CS/Term Deposit)</label>                              
      <div class="form-group">
        <label class="d-block">
            <input type="radio" class="mr-1" name="para7"id="para7_1" value="Average Balance  Rs. 20000 & Above" > Average Balance  Rs. 20000 & Above
        </label>
        <label class="d-block">
            <input type="radio" class="mr-1" name="para7"id="para7_2" value="Average Balance Above Rs. 10000/- Upto Rs 20000"> Average Balance Above Rs. 10000/- Upto Rs 20000
        </label>
        <label class="d-block">
          <input type="radio" class="mr-1" name="para7"id="para7_3" value="Average Balance Above Rs. 5000/- Upto Rs 10000">  Average Balance Above Rs. 5000/- Upto Rs 10000
      </label>
      <label class="d-block">
          <input type="radio" class="mr-1" name="para7"id="para7_4" value="Average Balance Upto Rs. 5000/-"> Average Balance Upto Rs. 5000/- 
      </label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-form-label" for="inputDefault">8. REPAYMENT HISTORY</label>                              
    <div class="form-group">
      <label class="d-block">
          <input type="radio" class="mr-1" name="para8"id="para8_1" value="Repayment In Existing / Earlier Loans Prompt and Upto date"> Repayment In Existing / Earlier Loans Prompt and Upto date
      </label>
      <label class="d-block">
          <input type="radio" class="mr-1" name="para8"id="para8_2" value="Over Dues In Existing Loan Accounts "> Over Dues In Existing Loan Accounts 
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-form-label" for="inputDefault">9. CIBIL SCORE</label>                              
  <div class="form-group">
    <label class="d-block">
        <input type="radio" class="mr-1" name="para9" id="para9_1" value=" 750 & Above "> 750 & Above
    </label>
    <label class="d-block">
        <input type="radio" class="mr-1" name="para9"id="para9_2" value=" 700 To 750 "> 700 To 750
    </label>
    <label class="d-block">
      <input type="radio" class="mr-1" name="para9"id="para9_3" value="600 to 700 "> 600 to 700
  </label>
  <label class="d-block">
      <input type="radio" class="mr-1" name="para9"id="para9_4" value=" Below 600 "> Below 600
  </label>
  </div>
</div>

<div class="form-group">
  <label class="col-form-label" for="inputDefault">10. FIELD INVESTIGATION REPORT</label>                              
<div class="form-group">
  <label class="d-block">
      <input type="radio" class="mr-1" name="para10"id="para10_1" value=" Good "> Good
  </label>
  <label class="d-block">
      <input type="radio" class="mr-1" name="para10"id="para10_2" value=" Average "> Average
  </label>
  <label class="d-block">
    <input type="radio" class="mr-1" name="para10"id="para10_3" value=" Poor "> Poor
</label>
</div>
</div>

<div class="form-group">
<label class="col-form-label" for="inputDefault">11. TELE VERIFICATION</label>                              
<div class="form-group">
<label class="d-block">
    <input type="radio" class="mr-1" name="para11" id="para11_1" value="Borrower Cooperative And Confirms All Info As Per Application"> Borrower Cooperative And Confirms All Info As Per Application
</label>
<label class="d-block">
    <input type="radio" class="mr-1" name="para11"id="para11_2" value="Borrower Cooperative But Not Confirming"> Borrower Cooperative But Not Confirming
</label>
<label class="d-block">
  <input type="radio" class="mr-1" name="para11"id="para11_3" value="Borrower Non Cooperative"> Borrower Non Cooperative
</label>
</div>
</div>

<div class="form-group">
<label class="col-form-label" for="inputDefault">12. LTV</label>                              
<div class="form-group">
<label class="d-block">
  <input type="radio" class="mr-1" name="para12"id="para12_1" value=" Upto 75% "> Upto 75%
</label>
<label class="d-block">
  <input type="radio" class="mr-1" name="para12"id="para12_2" value=" Above 75% "> Above 75%
</label>
</div>
</div>

<div class="form-group">
<label class="col-form-label" for="inputDefault">13. PERCENTAGE OF NET TAKE HOME SALARY(AFTER DEDUCTING EMI) TO GROSS SALARY</label>                              
<div class="form-group">
<label class="d-block">
<input type="radio" class="mr-1" name="para13"id="para13_1" value="Above 50%"> Above 50%
</label>
<label class="d-block">
<input type="radio" class="mr-1" name="para13"id="para13_2" value="40%"> 40%
</label>
<label class="d-block">
<input type="radio" class="mr-1" name="para13"id="para13_3" value="Below 25%"> Below 25%
</label>
</div>
</div>


<div class="form-group">
<label class="col-form-label" for="inputDefault"><b><em><h5>CUSTOMER CREDIT SCORE :</h5></em></b></label>  
<label class="ml-4" style="font-size: 100px " id="cal_display" > </label>
</div>
<const scoreFinal = 0;></const>

      <div class="btn-group-horizontal " >
          
          <button type="button" class="btn btn-primary  mt-4 mr-4"  id= "cal_btn" onclick="document.getElementById('cal_display').innerHTML= fun_calculate()">Calculate</button>
          <button type="button" class="btn btn-success  mt-4 mr-4"  id= "sav_btn" onclick="fun_save()">Save</button> 
          <a href="" class="btn btn-danger  mt-4 mr-4">Reset</a>          
          <a href="/dashboard" class="btn btn-info mt-4 ">Return</a>
      </div>

    </form>

              
      </div>
    </div>
 </div>


</body>

</html> 

       

    